{% extends 'base.html' %}

{% block content %}
    <body>
    <div class="relative mx-auto">
        <div class="flex min-h-screen justify-center">
            <div class="my-3 mx-6 w-full rounded-lg bg-white p-6 sm:w-2/3 md:w-3/4 lg:w-1/2 opacity-95">
                <div class="mode-btn-container">
                    <button onclick="toggleDarkMode()" id="mode-btn-container"
                            class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded-lg">
                        ☀️
                    </button>
                </div>
                <h2 class="mb-4 border-b-2 border-b-slate-500 text-2xl font-medium">Deep Translator</h2>
                <div class="relative mb-4">
                    <label for="translator-select" class="mb-2 block font-medium text-gray-700">Translators</label>
                    <select id="translator-select" name="translator-select" onchange="handleTranslatorsChange()" multiple
                            style="width: 100%"
                            class="focus:shadow-outline-blue focus:border-black-300 cursor-pointer appearance-none rounded-lg border border-gray-400 bg-white px-4 py-2 pr-8 leading-tight hover:border-gray-500 focus:outline-none">
                    </select>
                </div>

                <div class="mb-4">
                    <div class="relative mb-4">
                        <label for="input-language" class="mb-2 block font-medium text-gray-700">Text input</label>
                        <select id="input-language" name="input-language" onchange="submitData()" style="width: 100%"
                                class="focus:shadow-outline-blue cursor-pointer appearance-none rounded-lg border border-gray-400 bg-white px-4 py-2 pr-8 leading-tight hover:border-gray-500 focus:border-blue-300 focus:outline-none">
                        </select>
                    </div>
                    <form>
                        {% csrf_token %}
                        <textarea id="src"
                                  class="w-full resize-none rounded-lg bg-sky-100 p-2 focus:bg-sky-200 focus:outline-none"
                                  rows="2" placeholder="Type text to here translate (max. 50 characters)" maxlength="50"></textarea>
                    </form>

                </div>
                <div class="mb-4">
                    <div class="relative mb-4">
                        <label for="output-language" class="mb-2 block font-medium text-gray-700">Text output(s)</label>
                        <select id="output-language" name="output-language" onchange="submitData()" style="width: 100%"
                                class="focus:shadow-outline-blue cursor-pointer appearance-none rounded-lg border border-gray-400 bg-white px-4 py-2 pr-8 leading-tight hover:border-gray-500 focus:border-orange-300 focus:outline-none">
                        </select>
                    </div>
                    <div id="outputs">
                        <textarea id="res" class="w-full resize-none rounded-lg bg-orange-100 p-2" rows="2"
                                  disabled></textarea>
                    </div>
                </div>
                <div class="grid grid-cols-2 grid-rows-2 gap-4">
                    <button class="relative flex items-center justify-center gap-2 rounded-lg bg-red-500 p-2 text-white hover:bg-red-600">
                        <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M6 2l2-2h4l2 2h4v2H2V2h4zM3 6h14l-1 14H4L3 6z"></path>
                        </svg>
                        Clear
                    </button>
                    <button onclick="swapLanguages()"
                            class="relative flex items-center justify-center gap-2 rounded-lg bg-gray-300 p-2 text-black hover:bg-gray-400">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"></path>
                        </svg>
                        Swap
                    </button>
                    <button class="relative col-span-full flex items-center justify-center gap-2 rounded-lg bg-blue-500 p-2 text-white hover:bg-blue-600">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                        </svg>
                        Compare
                    </button>
                </div>
                <p class="mt-3">NB : <i>DeepTranslator</i> translate your text when you change it. No need to search
                    about a "Translate" button, just wait a bit 😇</p>
            </div>
            <div class="h-full w-full area">
                <ul class="h-full w-full circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>

    </body>
{% endblock %}

{% block scripts %}
    <script>
        const delay = 1000;

        let timer;

        // Get input textarea
        const src = $("#src");

        // Get output textarea
        const res = $("#res");

        // Get language selects
        const inputLanguageSelect = $("#input-language");
        const outputLanguageSelect = $("#output-language");

        // Get translator select
        const translatorSelect = $("#translator-select");

        // Get output div
        const outputDiv = $("#outputs");

        // Get navigator language
        const navigatorLanguage = navigator.language.substring(0, 2);

        // Get translators options
        fetch("theme/static/utilities/translators-list.json").then(response => response.json()).then(data => {
            const entries = Object.entries(data);

            entries.forEach(([code, name], index) => {
                // Create option
                const translatorOption = $("<option>");
                translatorOption.val(code);
                translatorOption.text(name);
                translatorSelect.append(translatorOption);

                if (index === 0) {
                    translatorSelect.val([code]).change();
                }
            });
        });

        function handleTranslatorsChange() {
            // For each translators, we have to handle the output textarea
            const selectedTranslators = translatorSelect.val();

            const htmlToAdd = selectedTranslators.reduce((acc, translator) => {
                const title = translator.charAt(0).toUpperCase() + translator.slice(1);
                return acc + `<div class='mb-4'> <label for='res-${translator}'>${title}</label><textarea id='res-${translator}' name='res-${translator}' class='w-full resize-none rounded-lg bg-orange-100 p-2' rows='2' disabled></textarea></div>`;
            }, "");

            outputDiv.html(htmlToAdd);

            // At the end, submit data
            submitData();
        }

        // Get translator languages options
        fetch("theme/static/utilities/languages-list.json").then(response => response.json()).then(data => {
            Object.entries(data).forEach(([code, name], _, arr) => {
                // Create options
                const inputLanguageOption = $("<option>");
                inputLanguageOption.val(code);
                inputLanguageOption.text(name);
                inputLanguageSelect.append(inputLanguageOption);

                const outputLanguageOption = $("<option>");
                outputLanguageOption.val(code);
                outputLanguageOption.text(name);
                outputLanguageSelect.append(outputLanguageOption);

                // Check if user language is supported, and select it for input language by default
                if (navigatorLanguage === code) {
                    inputLanguageOption.prop("selected", true);

                    // If user language is not english, set output as english by default
                    if (navigatorLanguage !== "en" && arr.find(([code]) => code === "en")) {
                        outputLanguageSelect.val("en");
                    }
                }
            });
        });

        src.on('input', code => {
            clearTimeout(timer);
            timer = setTimeout(submitData, delay, code);
        })

        function submitData() {
            const translatorsToPass = translatorSelect.val();

            /*if($("#compareBool").is(":checked")){
                $("#translator option").each(function() {
                    translatorsToPass.push($(this).val())
                })
            }
            else {
                translatorsToPass.push($("#translator").val())
            }*/

            const payload = {
                'source': inputLanguageSelect.val(),
                'target': outputLanguageSelect.val(),
                'text': src.val(),
                'translators': translatorsToPass
            }

            $.ajax({
                url: "/api/translate",
                headers: {'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val()},
                method: 'POST',
                data: payload,
                success: function (result) {
                    if (result.error) {
                        console.log(result.error);
                    } else {
                        const results = Object.entries(result);

                        translatorsToPass.forEach(translator => {
                            // If a selected translator is not in the results, we display an error on it
                            if (!results.find(([translatorName]) => translatorName === translator)) {
                                $(`#res-${translator}`).attr("placeholder", "Can't translate with this translator. Maybe try to change your environnement settings ?")
                            }
                            // Else, we display it
                            else {
                                $(`#res-${translator}`).val(results.find(([translatorName]) => translatorName === translator)[1]);
                            }
                        });
                    }
                }
            })
        }

        function swapLanguages() {
            // Get the selected value for the input language
            const inputLanguageValue = inputLanguageSelect.val();
            // Get the selected index for the input language
            const inputLanguageIndex = inputLanguageSelect.prop("selectedIndex");

            // Get the selected value for the output language
            const outputLanguageValue = outputLanguageSelect.val();
            // Get the selected index for the output language
            const outputLanguageIndex = outputLanguageSelect.prop("selectedIndex");

            // Update the label for the input language
            $("#select2-input-language-container").text(outputLanguageSelect.find("option:selected").text());
            // Update the label for the output language
            $("#select2-output-language-container").text(inputLanguageSelect.find("option:selected").text());

            // Get the text for the output textarea
            const resText = res.val();

            // Update the selection for the input language
            inputLanguageSelect.val(outputLanguageValue);
            inputLanguageSelect.prop("selectedIndex", outputLanguageIndex);

            // Update the selection for the output language
            outputLanguageSelect.val(inputLanguageValue);
            outputLanguageSelect.prop("selectedIndex", inputLanguageIndex);

            // Update the text for the input textarea
            src.val(resText);

            // Submit the data
            submitData();
        }

        const body = $("body");
        const btn = $("#mode-btn-container");

        function toggleDarkMode() {
            if (body.hasClass("dark-mode")) {
                body.removeClass("dark-mode");
                btn.html("☀️");
            } else {
                body.addClass("dark-mode");
                btn.html("🌙");
            }
        }

        translatorSelect.select2({
            placeholder: "Select translators",
            allowClear: true,
            width: "resolve"
        });
        inputLanguageSelect.select2({
            width: "resolve"
        });
        outputLanguageSelect.select2({
            width: "resolve"
        });
    </script>
{% endblock %}